# Handling categorical values
- To Handle categorical values we need to create a Column
    - insert 1 if the categorical data present in that row in referenced categorical column
    - if the categorical data not present in there insert 0 in those categorical columns
    - We converted categorical data into numarical data
    - ## this data is called Dummy variables


- Data columns that we had
    - Profit , R&D Spend , Admin , Marketing , state( states are categorical Data)
- in this we have to figure out the profits by using the sent amout on the different fields
    - R&D Spend , Admin , Marketing , state
- Equation = ```y=b0+b1*X1+b2*X2+b3*X3+(+b4*D1 (Categorical value))```
- Profit is dependent variable and rest of them are independent variables
- profit = Y
- b0 = constent
- b1*X1 R&D sent X1 is the amount that spent on the R&D
- b2*X2 R&D sent X2 is the amount that spent on the Admin
- b3*X3 R&D sent X3 is the amount that spent on the Marketing
- All X1to X3 are the potential variable that predictors for the data 
    - some are importent and some are not 
    - if we add all data into the model it wont be reliable and it will get garbage
- In the 4th Column we got categorical data that refers to the states
    - to handle the categorical data we splitted each categorical data into seperate columns so that we got two different values New York and California
        - if the new york present in the state column we add 1 to the newly created New york column and in the remening columns we insert 0 in to and vise-versa
        - So we successfully converted a Categorical data into a numarical data
        - because we had only two different categorical data we can use only one column for the categorical data insted of the `New York` and `California` columns if the value is '1' we refernced that to `New York` and If the value if '0' we refernced that to `California`
        - If we iclude second column he new Equation is ```y=b0+b1*X1+b2*X2+b3*X3+(+b4*D1+b5*D2 (Categorical value))```
            - in the above case the model will be in multi collienearity 
            - because of that the model will never distinguse between the two categorical data
                - for california = ```b3*D1+b5*D2``` as D1 is zero remaining is ```0+b5*D2```
                - for New York = ```b3*D1+b5*D2``` as D2 is zero remaining is ```b4*D1+0```
                - because of that it wont work properly
 - b4*D1 (D1 i s the newly created Dummy variable for the Categorical data)

## Methods of building the model
- All in
- Backward selection # Also called as stepwise Regression
- Forward selection # Also called as stepwise Regression
- Bidirectional Elimination # Also called as stepwise Regression
- Score Comparison

### All in
- All the data variable(Columns) should in when preparing the model
- If we fully knowldge in those variable that it will effect on the data then we should inclde the data 
- if there is order to use all variables in the model by superior or company said it should include
- While peparing for the backward elimention

### Backward Elimention
- Step 1 - Select a significance level to stay in the model ex:- Statistical Significance level SL = 0.005 
- Step 2 - Fit the full model with all possible Predictors
- Step 3 - Consider the predictor with the highest P-value. if P>Sl goto step 4. other wise goto FIN(Finish The model is Ready)
- Step 4 - Remove pridictor
- Step 5 - fit modelwithout this variable
    - After Step 5 go to Step 3 and start again checking
    
### Forward Selection
- Step 1 Select a significance lvelto enter the model (eg SL = 0.05)
- step 2 Fit all simple regression models y ~ Xn Select the onewith the lowest P-value
- Step 3 keep this variable and fit all possible models with one extra predictor added to the one(s) you already have
- Step 4 Consider the predictor with the lowest P-value. if P<SL goto Step 3, otherwise go to FIN(Finish The model is Ready) - Keep the previous model

### Bidirectional Elimination
- Step 1 Select a significance level to enter and stay in that model
    - Ex SLENTER = 0.05, SLSTAY = 0.05
- Step 2 Perform the next step of the forward selection (New Variables must have P < SLENTER to enter)
- Step 3 Perform all steps of Backward Elimination (Old variables must have P < SLSTAY to stay )
- Step 4 No new variables can enter and no old variables can exit
    - FIN(Finish The model is Ready)
    
### ALL mpossible models -> Its a very Resource consuming process
- Step 1 Select a criterion of goodness of fit (Ex akaike Criterion )
- Step 2 Construct all possible Regression Models ((2^N)-1) where N is No of columns(AKA variables)
- Step 3 Select the one with the best criterion
    - FIN(Finish The model is Ready)
   
In all these models Backward Elemenation is the fastest

# Practice

## Importing the libraries

In [1]:
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline
import pandas as pd

## Importing the dataset

In [2]:
data = pd.read_csv('50_Startups.csv')

In [19]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values
# We spit hthe data into two parts one is to be predicted value and anothe on is values should need to predict the y

In [22]:
pd.DataFrame(X)

      0    1    2          3          4          5
0   0.0  0.0  1.0   165349.2   136897.8   471784.1
1   1.0  0.0  0.0   162597.7  151377.59  443898.53
2   0.0  1.0  0.0  153441.51  101145.55  407934.54
3   0.0  0.0  1.0  144372.41  118671.85  383199.62
4   0.0  1.0  0.0  142107.34   91391.77  366168.42
5   0.0  0.0  1.0   131876.9   99814.71  362861.36
6   1.0  0.0  0.0  134615.46  147198.87  127716.82
7   0.0  1.0  0.0  130298.13  145530.06  323876.68
8   0.0  0.0  1.0  120542.52  148718.95  311613.29
9   1.0  0.0  0.0  123334.88  108679.17  304981.62
10  0.0  1.0  0.0  101913.08  110594.11  229160.95
11  1.0  0.0  0.0  100671.96   91790.61  249744.55
12  0.0  1.0  0.0   93863.75  127320.38  249839.44
13  1.0  0.0  0.0   91992.39  135495.07  252664.93
14  0.0  1.0  0.0  119943.24  156547.42  256512.92
15  0.0  0.0  1.0  114523.61  122616.84  261776.23
16  1.0  0.0  0.0   78013.11  121597.55  264346.06
17  0.0  0.0  1.0   94657.16  145077.58  282574.31
18  0.0  1.0  0.0   91749.16  114175.79  294919.57
19  0.0  0.0  1.0    86419.7  153514.11        0.0
20  1.0  0.0  0.0   76253.86   113867.3  298664.47
21  0.0  0.0  1.0   78389.47  153773.43  299737.29
22  0.0  1.0  0.0   73994.56  122782.75  303319.26
23  0.0  1.0  0.0   67532.53  105751.03  304768.73
24  0.0  0.0  1.0   77044.01   99281.34  140574.81
25  1.0  0.0  0.0   64664.71  139553.16  137962.62
26  0.0  1.0  0.0   75328.87  144135.98  134050.07
27  0.0  0.0  1.0    72107.6  127864.55  353183.81
28  0.0  1.0  0.0   66051.52  182645.56   118148.2
29  0.0  0.0  1.0   65605.48  153032.06  107138.38
30  0.0  1.0  0.0   61994.48  115641.28   91131.24
31  0.0  0.0  1.0   61136.38  152701.92   88218.23
32  1.0  0.0  0.0   63408.86  129219.61   46085.25
33  0.0  1.0  0.0   55493.95  103057.49  214634.81
34  1.0  0.0  0.0   46426.07  157693.92  210797.67
35  0.0  0.0  1.0   46014.02   85047.44  205517.64
36  0.0  1.0  0.0   28663.76  127056.21  201126.82
37  1.0  0.0  0.0   44069.95   51283.14  197029.42
38  0.0  0.0  1.0   20229.59   65947.93   185265.1
39  1.0  0.0  0.0   38558.51   82982.09   174999.3
40  1.0  0.0  0.0   28754.33  118546.05  172795.67
41  0.0  1.0  0.0   27892.92   84710.77  164470.71
42  1.0  0.0  0.0   23640.93   96189.63  148001.11
43  0.0  0.0  1.0   15505.73   127382.3   35534.17
44  1.0  0.0  0.0   22177.74  154806.14   28334.72
45  0.0  0.0  1.0    1000.23  124153.04    1903.93
46  0.0  1.0  0.0    1315.46  115816.21  297114.46
47  1.0  0.0  0.0        0.0  135426.92        0.0
48  0.0  0.0  1.0     542.05   51743.15        0.0
49  1.0  0.0  0.0        0.0   116983.8   45173.06

In the given data we have to prepare the model to predictthe profit using information where they invested

In [3]:
data['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

- We have total 3 different categiory
- to fix this we need to apply one hot encoding for this Independent variables(Column)

## Encoding categorical data

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

## Splitting the dataset into the Training set and Test set

In [24]:
## Splitting also take careof the dummy vaiable  
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [25]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

## Predicting the Test set results

In [27]:
y_Pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_Pred.reshape(len(y_Pred),1),y_test.reshape(len(y_test),1)),1))

[[103015.2  103282.38]
 [132582.28 144259.4 ]
 [132447.74 146121.95]
 [ 71976.1   77798.83]
 [178537.48 191050.39]
 [116161.24 105008.31]
 [ 67851.69  81229.06]
 [ 98791.73  97483.56]
 [113969.44 110352.25]
 [167921.07 166187.94]]